<div class="container">
    <div class="col s12 m7" ng-show="isTeamsEmpty()">
		<div class="card horizontal">
			<div class="card-stacked">
				<div class="text-center card-content">
					<h5>Não há nenhuma turma cadastrada ate o momento!</h5>
                    <a class="btn waves-effect waves-light orange" class href="#/team/create">
                        Cadastrar Turmas
                    </a>
				</div>
			</div>
		</div>
	</div>
    <div class="row">

        <!--Create team card-->
        <div class="col s12 m4">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Nova Turma</span>
                    <a class="btn waves-effect waves-light orange" class href="#/team/create">
                        Cadastrar Turma
                    </a>
                </div>
            </div>
        </div>

        <div class="col s12 m4"  ng-repeat="team in teams">
            <div class="card hoverable">
                <div class="card-content">
                    <span class="card-title">{{team.name}}</span>
                    <div class="row">
                        <p class="col text-bold s5">Data de Início:</p>
                        <p align="left" class="col s6">{{team.date_init | date: 'dd/MM/yyyy'}}</p>
                    </div>
                    <div class="row">
                        <p class="col text-bold s5">Data de Fim:</p>
                        <p class="col s6">{{team.date_end | date: 'dd/MM/yyyy'}}</p>
                    </div>
                    <div class="row">
                        <p class="col text-bold">Dias da Semana:</p>
                    </div>
                    <div class="row">
                        <p class="col s2" ng-repeat="day in team.days">{{day.date.day_name}}</p>
                    </div>
                    <div class="row">
                        <p class="col s7 text-bold">Quantidade de Estagiários:</p>
                        <p>{{team.trainees.length}}</p>
                    </div>
                </div>
			<!-- 	<div class="card-action">
					<a class="grey-text" href={{"#/team/"+team._id}}>Detalhes</a>
				</div> -->
            </div>
        </div>
    </div>
</div>