<div class="container">
    <div class="col s12 m7" ng-show="isTeamsEmpty()">
		<div class="card horizontal">
			<!--<div class="card-image">-->
				<!--<img src="/images/icon-no-team.png">-->
			<!--</div>-->
			<div class="card-stacked">
				<div class="card-content">
					<h4>Nao ha nenhuma turma cadastrada ate o momento!</h4>
				</div>
				<div class="card-action">

				</div>
			</div>
		</div>
	</div>
    <div class="row">
        <div class="col s12 m5"  ng-repeat="team in teams">
            <div class="card hoverable">
                <div class="card-content">
                    <span class="card-title">{{team.name}}</span>
                    <div class="row">
                        <p class="col text-bold s5">Data de Início:</p>
                        <p align="left" class="col s6">{{team.date_init | date: 'dd/MM/yyyy'}}</p>
                    </div>
                    <div class="row">
                        <p class="col text-bold s5">Data de Fim:</p>
                        <p class="col s6">{{team.date_end | date: 'dd/MM/yyyy'}}</p>
                    </div>
                    <div class="row">
                        <p class="col text-bold">Dias da Semana:</p>
                    </div>
                    <div class="row">
                        <p class="col s2" ng-repeat="day in team.days">{{day.date.day_name}}</p>
                    </div>
                    <div class="row">
                        <p class="col s7 text-bold">Quantidade de Estagiários:</p>
                        <p>{{team.trainees.length}}</p>
                    </div>
                </div>
				<div class="card-action">
					<a class="grey-text" href={{"#/team/"+team._id}}>Detalhes</a>
				</div>
            </div>
        </div>
    </div>
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large green">
            <i class="large material-icons">reorder</i>
        </a>
        <ul>
            <li>
                <a class="btn-floating black" class href="#/team/create">
                    <i class="material-icons">supervisor_account</i>
                </a>
            </li>
        </ul>
    </div>

</div>