body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.mg-left-s2{
  margin-left: 8px;
}

.text-bold{
    font-weight: bold;
}

.clickable{
    cursor: pointer;
}

.img-small{
    max-height: 25px;
}

.img-medium{
    max-height: 200px;
}

.card-container{
    min-width: 30%;
}

.card-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.text-center{
    text-align: center;
}

.btn-block{
  margin: 1%;
  display: block;
}