<div class="container">
    <div class="col s12 m7">
        <div class="card horizontal hoverable">
            <div class="card-stacked">
                <div class="card-content">
                    <p align="center" class="flow-text grey-text text-darken-1">Você não foi vinculado a nenhuma turma até o momento!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <p class="card-title green-text text-darken-2" align="center">Seus Dispositivos</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <p class="card-title green-text text-darken-2" align="center">Suas Turmas</p>
                    <table class="highlight centered responsive-table bordered">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Data Início</th>
                                <th>Data Fim</th>
                                <th>*</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="team in teams">
                                <td>{{team.name}}</td>
                                <td>{{team.date_init | date : 'dd/MM/yyyy'}}</td>
                                <td>{{team.date_end  | date : 'dd/MM/yyyy'}}</td>
                                <td>
                                    <a class="clickable" ng-click="teamDetails(team)" class="blue-text" >Detalhes</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--MODAL TEAM DETAILS-->

</div>