<div class="container">
    <div class="col s12 m7">
        <div class="card hoverable">
            <div class="card-content">
                <h4 class="">Detalhes da Turma</h4>
                <div class="row">
                    <p class="text-bold col s1">Nome: </p>
                    <p>{{teamSelected.name | date:'dd/MM/yyyy'}}</p>
                </div>
                <div class="row">

                    <div class="col s4">
                        <p class="text-bold">Início das atividades</p> <p>{{teamSelected.date_init | date:'dd/MM/yyyy'}}</p>
                    </div>
                    <div class="col s4">
                        <p class="text-bold">Fim das atividades</p> <p>{{teamSelected.date_end | date:'dd/MM/yyyy'}}</p>
                    </div>
                </div>
                <br>

                <p class="flow-text">Dias de Atividade</p>
                <br>
                <div class="row">
                    <div ng-repeat="(key, value) in teamSelected.days | groupBy : 'date.day_name'">
                        <div class="col s2 collection-item avatar" ng-repeat="day in value">
                            <div class="">
                                <img src="/images/time_icon.png" class="circle img-small">
                                <span class="title text-bold">{{day.date.day_name}}</span>
                                <p>{{day.time_init}} às {{day.time_end}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <p class="flow-text">Suas Presenças</p>
                <br>
                <table class="responsive-table centered">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="presence in presences">
                            <td>{{presence.date | date:'dd/MM/yyyy'}}</td>
                            <td>Presente</td>
                        </tr>
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>