<head>
	<meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="stylesheets/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

    <script type="text/javascript" src="javascripts/lib/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="javascripts/lib/angular.min.js"></script>
    <script type="text/javascript" src="javascripts/lib/materialize.min.js"></script>
    <script type="text/javascript" src="javascripts/lib/angular-materialize.min.js"></script>
    <script type="text/javascript" src="javascripts/lib/angular-route.js"></script>

    <!-- CLOCK PICKER -->
    <script type="text/javascript" src="javascripts/lib/materialize.clockpicker.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/materialize.clockpicker.css">

	<script type="text/javascript" src="javascripts/app.js"></script>
	<script type="text/javascript" src="javascripts/config/route-config.js"></script>
	<script type="text/javascript" src="javascripts/services/LoginService.js"></script>
	<script type="text/javascript" src="javascripts/services/TeamService.js"></script>
	<script type="text/javascript" src="javascripts/services/TraineeService.js"></script>
	<script type="text/javascript" src="javascripts/controllers/LoginController.js"></script>
	<script type="text/javascript" src="javascripts/controllers/AdminController.js"></script>
	<script type="text/javascript" src="javascripts/controllers/TraineeController.js"></script>

</head>